In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import TomekLinks

# Load the data
data = pd.read_csv('files_for_lab/Customer-Churn.csv')
import warnings

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('files_for_lab/Customer-Churn.csv')
# churnData.columns = [column.lower().replace(" ", "_") for column in churnData.columns]
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [4]:

data['Churn'] = data['Churn'].apply(lambda x: 1 if x == 'Yes' else 0)


X = data.drop('Churn', axis=1)
y = data['Churn']


X = pd.get_dummies(X)


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [5]:

smote = SMOTE(random_state=42)
X_sm, y_sm = smote.fit_resample(X_train_scaled, y_train)


log_reg_sm = LogisticRegression()
log_reg_sm.fit(X_sm, y_sm)
y_pred_sm_log = log_reg_sm.predict(X_test_scaled)
accuracy_sm_log = accuracy_score(y_test, y_pred_sm_log)


tree_sm = DecisionTreeClassifier()
tree_sm.fit(X_sm, y_sm)
y_pred_sm_tree = tree_sm.predict(X_test_scaled)
accuracy_sm_tree = accuracy_score(y_test, y_pred_sm_tree)

print("Accuracy of Logistic Regression with SMOTE:", accuracy_sm_log)
print("Accuracy of Decision Tree with SMOTE:", accuracy_sm_tree)

Accuracy of Logistic Regression with SMOTE: 0.7757274662881476
Accuracy of Decision Tree with SMOTE: 0.7778566359119943

In [6]:

tl = TomekLinks()
X_tl, y_tl = tl.fit_resample(X_train_scaled, y_train)


log_reg_tl = LogisticRegression()
log_reg_tl.fit(X_tl, y_tl)
y_pred_tl_log = log_reg_tl.predict(X_test_scaled)
accuracy_tl_log = accuracy_score(y_test, y_pred_tl_log)


tree_tl = DecisionTreeClassifier()
tree_tl.fit(X_tl, y_tl)
y_pred_tl_tree = tree_tl.predict(X_test_scaled)
accuracy_tl_tree = accuracy_score(y_test, y_pred_tl_tree)

print("Accuracy of Logistic Regression with TomekLinks:", accuracy_tl_log)
print("Accuracy of Decision Tree with TomekLinks:", accuracy_tl_tree)

Accuracy of Logistic Regression with TomekLinks: 0.7750177430801988
Accuracy of Decision Tree with TomekLinks: 0.7792760823278921

In [7]:
print("Comparison of Accuracies with SMOTE:")
print("Logistic Regression:", accuracy_sm_log)
print("Decision Tree:", accuracy_sm_tree)

print("Comparison of Accuracies with TomekLinks:")
print("Logistic Regression:", accuracy_tl_log)
print("Decision Tree:", accuracy_tl_tree)

Comparison of Accuracies with SMOTE:
Logistic Regression: 0.7757274662881476
Decision Tree: 0.7778566359119943
Comparison of Accuracies with TomekLinks:
Logistic Regression: 0.7750177430801988
Decision Tree: 0.7792760823278921